body {
  background:#fff url('../img/linen.png') repeat;
  padding-bottom: 500px;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
}

h5 .radio form{
    display: inline;
}

.alert {
  position: absolute;
  top: 50px;
  left: 20px;
}

.maps path {
  stroke: black;
  stroke-width: 10;
  fill: grey;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: DarkRed;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}


body { 
    padding-top: 65px; 
}

.invisible{
    visibility:hidden;
    display:none;
}

.visible{
	display:block;
}

#tooltip{
	background-color: rgb(100,100,100);
	border-radius: 15px;
	color: white;
	width:200px;
	box-shadow:3px 3px #aabbdd;
	padding: 4px;
  z-index:9999999;
}

#gmap {
  height: 100%;
}

#legend {
  background: white;
  padding: 10px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 20%;
  margin-left: -90px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
