html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#gmap {
  height: 100%;
}

#legend {
  background: white;
  padding: 10px;
}

@media print {
  html, body {
    height: auto;
  }

  #gmap {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.invisible{
    visibility:hidden;
    display:none;
}

.visible{
  display:block;
}