html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#gmap {
  height: 100%;
}

#legend {
  background: white;
  padding: 10px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 20%;
  margin-left: -90px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.invisible{
    visibility:hidden;
    display:none;
}

.visible{
  display:block;
}
